@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

::selection{
	background:none;
}


#gumbi {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="button"]:disabled {
    opacity: 0.65;
}

#drugigumbi {
  display: flex;
  align-items: center;
  justify-content: center;
}


body{
	background: #BADA55;
	font-family: 'Roboto';
	font-weight:500;
	color: #2E8612;
	overflow: hidden;
	height:100%;
}

input[type="button"] {
    background-color: #2E8612;
    color: #fff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	border-radius: 25px;
}





#vnosvsajenega{
	color: white;
}

ul{
	list-style-type: none;
	width: 220px;
	margin: auto;
}

li {
	position: relative;
	padding: 10px;
	padding-left: 40px;
	height:30px;
}


/* od tle naprej grejo neni CSS  */

@font-face {
  font-family: 'unicredit';
  src: url("/kviz/fonts/unicredit-bold-webfont.eot");
  src: url("/kviz/fonts/unicredit-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/kviz/fonts/unicredit-bold-webfont.woff2") format("woff2"), url("/kviz/fonts/unicredit-bold-webfont.woff") format("woff"), url("/kviz/fonts/unicredit-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'unicredit';
  src: url("/kviz/fonts/unicredit-light-webfont.eot");
  src: url("/kviz/fonts/unicredit-light-webfont.eot?#iefix") format("embedded-opentype"), url("/kviz/fonts/unicredit-light-webfont.woff2") format("woff2"), url("/kviz/fonts/unicredit-light-webfont.woff") format("woff"), url("/kviz/fonts/unicredit-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'unicredit';
  src: url("/kviz/fonts/unicredit-regular-webfont.eot");
  src: url("/kviz/fonts/unicredit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/kviz/fonts/unicredit-regular-webfont.woff2") format("woff2"), url("/kviz/fonts/unicredit-regular-webfont.woff") format("woff"), url("/kviz/fonts/unicredit-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'zaba-icons';
  src:    url('../fonts/zaba-icons.eot?b7s8c0');
  src:    url('../fonts/zaba-icons.eot?b7s8c0#iefix') format('embedded-opentype'),
      url('../fonts/zaba-icons.ttf?b7s8c0') format('truetype'),
      url('../fonts/zaba-icons.woff?b7s8c0') format('woff'),
      url('../fonts/zaba-icons.svg?b7s8c0#zaba-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

#logos{
	min-height:50px;
}
body, h1, h2, h3, h4, h5, h6, p, span, div{
	font-family: 'unicredit', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}



/*.uniC{
	margin-left:30px;
}*/

.intro-header {
  background-color: #777777;
  background: no-repeat center top;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
background-position: center top;
	
}

.hero-content{
	color:#fff;
	margin-top:25px;
	margin-left:30px;
}
.nagradni_kviz{
	margin-top:100px;
	font-size:42px;
	margin-bottom:16px;
	font-family: 'unicredit', sans-serif;
	font-weight:700;
	
}
.pasica{
	color:#fff;
	background: rgba(0,0,0,0.5);
	}
.stevilkeV{
	padding-top:28px;
	padding-bottom:28px;
	

}
/*.pasica p{
	
	padding-top:10px;
	padding-bottom:10px;
}*/
#heading2{
	text-align:center;
	
}
#heading2 h3{
	font-size:46px;
	/*text-decoration:underline;*/
}
#section3{
	margin-top:60px;
}
.img-center{
	display:block;
	margin:0 auto;
}
.section3-text{
	text-align:center;
	margin-top:30px;
	font-size:24px;
}
.section3-small{
	font-size:16px;
	text-align:center;
	line-height:0.8;
}
.button-resite{
	margin:70px auto;
	background:#e2001a;
	color:#fff;
	padding:7px 10px 7px 16px;
	border-radius: 5px;
	font-size:20px;
	text-decoration:none;
	}
.button-resite:hover{
	color:#fff;
	text-decoration:none;
}
.button{
	text-align:center;
	margin-top:70px;
	margin-bottom:70px;
}
.logo-unicredit{
	margin-left:30px;
}
.logo-azimut{
	float:right;
}
#quizHeader{
	margin-bottom:40px;
	min-height:100px;
}
.forma{
	width:100%;
	margin:20px auto;
    font-family: 'unicredit', sans-serif !important;
}


.forma input.formText.doc-mail.formEmail.formRequired {
	height:40px;
	border-radius:3px;
	font-family: 'unicredit', sans-serif !important;
}

.forma .maFormComboFirstHalf {
	float:left!important;
	font-family: 'unicredit', sans-serif !important;
}

.forma label.formComboNameLabel.doc-nameLabel {
	text-align:left!important;
	font-family: 'unicredit', sans-serif !important;
}


.forma label.doc-mailLabel {
	text-align:left!important;
	font-family: 'unicredit', sans-serif !important;
}

.forma button.formSubmit.doc-submit {
	background:#FF7534;
	font-size:20px;
	line-height:24px;
	padding:20px!important;
	font-family: 'unicredit', sans-serif !important;
}

.forma button.formSubmit.doc-submit:hover {
	background:#f15a24;
	font-family: 'unicredit', sans-serif !important;
}
body form.maForm div.maFormComboHalf input.formText {
	width:100%!important;
	height:30px;
	font-family: 'unicredit', sans-serif !important;
}

.maFormComboHalf {
	display:inline-block;
	width:49%!important;
	zoom:1;
	vertical-align:middle;
	font-family: 'unicredit', sans-serif !important;
}

.maFormComboFirstHalf {
	margin-right:2%!important;
	font-family: 'unicredit', sans-serif !important;
}
body form.maForm .maFormComboHalf label {
	display:inline-block;
	width:100%!important;
	font-family: 'unicredit', sans-serif !important;
	font-weight:bold!important;
	font-size:16px;
}
form.maForm input.formText, form.maForm select{
	width:100%;
	height:30px;
}
label#splosniKvizLabel.splosniKvizLabel{
    display:inline;
	font-family: 'unicredit', sans-serif !important;
}


form.maForm label{
    display:inline;
	font-family: 'unicredit', sans-serif !important;
	font-size:16px;
}

form.maForm span.formRequiredLabel{
    display:inline;
    padding-right:5px;	
	font-family: 'unicredit', sans-serif !important;	
}
label.formCheckboxLabel.maFormSubscriptionInputLabel{
    display:inline;
	font-family: 'unicredit', sans-serif !important;
}
button.formSubmit.kvizSubmit{
    background:#e2001a;
	color:#fff;
	padding:7px 10px 7px 16px;
	border-radius: 5px;
	font-size:20px;
	text-decoration:none;
	text-shadow:none;
	border: 1px solid #ed1c24;
	font-family: 'unicredit', sans-serif !important;
	font-weight:600;
	/*padding-top:8px;*/
	font-size:20px;
	text-transform: uppercase;	
	
}
button.formSubmit.kvizSubmit:hover{
    background:#ed1c24;
	color:#fff;
	font-family: 'unicredit', sans-serif !important;
}
.link_pogoji{
	color:#000;
	text-decoration:none;
	font-family: 'unicredit', sans-serif !important;	
}
.link_pogoji:hover{
	color:#000;
	text-decoration:none;
	font-family: 'unicredit', sans-serif !important;
	
}
.link_pogoji:visited{
	color:#000;
	text-decoration:none;
	font-family: 'unicredit', sans-serif !important;
	
}
input.formText.kviz-email.formPrepopulate.formEmail.formRequired{
    font-family: 'unicredit', sans-serif !important;
}
input.formText.formPrepopulate.formRequired{
    font-family: 'unicredit', sans-serif !important;
}


.btn{
	margin-bottom:10px !important;
	
}

@media screen and (max-width: 767px) {
	.logo-azimut{
		float:none;
		margin:10px auto !important;
	}
	.uniC{
		text-align:center;
	}
	.azi{
		text-align:center;
	}
	.img-center{
		margin-top:30px;
		margin-bottom:20px;
	}

   }
@media screen and (max-width: 497px) {
	.pasica{
		display:none
	}

   }

.zanima_me{
	font-size:158px;
	
}
.koliko_vem{
	font-size:62px;
	margin-left:60px;
	margin-top:-30px;
	font-family: 'unicredit', sans-serif !important;

}
.pasica-text{
	
	font-size:24px;
	padding-top:28px;
	padding-bottom:28px;
	margin-left:30px;
}


.header-odgovori{
	font-size:46px;
	font-weight: 300 !important;
}
.header-odgovori-hvala{
	font-size:30px !important;
	font-weight: 300 !important;
}


@media screen and (max-width: 960px) {
	.zanima_me{
	font-size:120px;
	
}
.koliko_vem{
	font-size:48px;
	margin-left:40px;
}
.nagradni_kviz{
	font-size:32px;
}
}
@media screen and (max-width: 780px) {
	.zanima_me{
	font-size:72px;
	
}
.koliko_vem{
	font-size:36px;
	margin-top:2px;
	margin-left:20px;
}
.nagradni_kviz{
	font-size:24px;
}
}
.arrow{
	margin-top:-3px;
}
.button-resite {
  font-size:20px;
  font-weight:600;
}

/*.button-resite:after {
    font-family: zaba-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e954";
	background:url('img/arrow-new.png');
    color: #fff;
    top: 3px;
    left: -5px;
	font-size:30px;
	margin-top:1px;
}*/
.arrow-new{
		margin-top:-2px;
}

/*button.formSubmit.kvizSubmit:after {
    font-family: zaba-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e954";
    color: #fff;
    top: 3px;
    left: -5px;
	font-size:30px;
	margin-top:-3px;
}*/